<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Oferta</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background-image: url(background.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
            color: #333;
        }

        h1 {
            text-align: center;
            margin-top: 30px;
            font-size: 36px;
            color: #f8b500;
        }

        ul {
            display: grid;
            text-align: center;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            padding: 20px;
            list-style-type: none;
        }

        li {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
            cursor: pointer;
            display: flex;
            flex-direction: column;  
            justify-content: space-between; 
        }

        li p {
            font-size: 18px;
            font-weight: bold;
            color: #333;
            margin-bottom: 10px;
        }

        li:hover {
            transform: translateY(-10px); 
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        a {
            text-align: center;
            font-size: 18px;
            color: #f8b500;
            text-decoration: none;
            font-weight: bold;
            display: block; 
        }

        a:hover {
            text-decoration: underline;
        }

        .back-link {
            position: fixed;
            bottom: 20px;
            left: 50%;  
            transform: translateX(-50%); 
            font-size: 18px;
            color: #f8b500;
            text-decoration: none;
            font-weight: bold;
        }

        .back-link:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Oferta</h1>
    <ul>
        <% sprzet.forEach(sprzet => { %>
            <% if (sprzet.ilosc_dostepna > 0) { %> 
                <li>
                    <a href="/details/<%= sprzet.id_sprzetu %>">
                        <p><%= sprzet.nazwa %></p>
                        <span><%= sprzet.ilosc_dostepna %> dostępne</span>
                    </a>
                </li>
            <% } %>
        <% }) %>
    </ul>

    <% if (isLoggedIn && user.czyPracuje) { %>
        <a href="/Dodaj" class="add-product">Dodaj Produkt</a>
    <% } %>

    <a href="/" class="back-link">Wróć</a>
</body>


</html>
